<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display Time</title>
</head>
<body>
    <form action="/result" method="post">
        <label for="your_name">your_name</label>
        <input type="text" name="your_name"> <br> <br>
        <label for="location"> Dojo location</label>
        <select name="location" >
            <option value="hebron">hebron</option>
            <option value="Ramallah">Ramallah</option>
            <option value="Nablus">Nablus</option>
        </select><br> <br>
        <label for="language">language</label>
        <select name="language" >
            <option value="c++">c++</option>
            <option value="python">Python</option>
            <option value="Java">Java</option>
        </select><br> <br>
        <label for="comment">Comments</label>
        <textarea name="comment"  cols="30" rows="10"></textarea> <br> <br>
        <input type="submit" value="submit form">




    </form>
</body>
</html>